/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OutFit';
}

ul {
    list-style-type: none;
}

a {
    font-style: normal;
    color: #6ebbb3;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #94fff4;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.w-100 {
    width: 100%;
}

/* UTILITY */

.text-center {
    text-align: center;
}

/* FLEX */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

/* HEADER */

header {
    margin-bottom: 60px;
}

h1 {
    color: #e53170;
    font-weight: 800;
    font-size: 60px;
    margin: 30px 0;
}

header p {
    font-size: 20px;
}

/* MAIN */

/* CARDS */

#cards {
    justify-content: space-around;
    row-gap: 30px;
}

.card {
    width: calc(100% / 3 - 30px);
    background-color: black;
    color: #fff;
}

.card-image {
    width: 30%;
}

.card h3 {
    font-size: 28px;
    margin-bottom: 0;
}

.card-content li {
    margin: 10px 20px;
}

/* RESPONSIVE */

@media screen and (max-width: 992px) {

    .container {
        width: 720px;
    }

    #cards {
        row-gap: 15px;
    }

    .card {
        width: calc(100% / 2 - 15px);
    }

    #name {
        font-size: 24px;
    }

    #role,
    #email {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {

    .container {
        width: 540px;
    }

    .card {
        width: 100%;
    }
    
}

@media screen and (max-width: 576px) {

    .container {
        width: 100%;
    }
    
}