/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OutFit';
}

ul {
    list-style-type: none;
}

a {
    font-style: normal;
    color: #6ebbb3;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #94fff4;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.w-100 {
    width: 100%;
}

/* UTILITY */

.text-center {
    text-align: center;
}

/* FLEX */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* HEADER */

header {
    margin-bottom: 60px;
}

h1 {
    color: #e53170;
    font-weight: 800;
    font-size: 60px;
    margin: 30px 0;
}

header p {
    font-size: 20px;
}

/* MAIN */

/* CARDS */

#cards {
    justify-content: space-around;
    row-gap: 30px;
}

.card {
    width: calc(100% / 3 - 30px);
    background-color: black;
    color: #fff;
}

.card-image {
    width: 30%;
}

.card h3 {
    font-size: 28px;
    margin-bottom: 0;
}

.card-content li {
    margin: 10px 20px;
}

/* FORM */

.form-container {
    margin-top: 30px;
}

.form-container h2 {
    margin: 20px 0;
}

form {
    width: 25%;
}

form>.row {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

form>.row>* {
    margin: 5px 0;
}

form label {
    font-weight: 700;
}

input[type="text"] {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border-color: #e53170;
    outline: none;
    box-shadow: 0 0 5px #e5317085;
}

.submit-btn {
    padding: 15px;
    background-color: #e53170;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ff4184;
}

/* RESPONSIVE */

@media screen and (max-width: 992px) {

    .container {
        width: 720px;
    }

    #cards {
        row-gap: 15px;
    }

    .card {
        width: calc(100% / 2 - 15px);
    }

    .card li h3 {
        font-size: 24px;
    }

    .card li {
        font-size: 14px;
    }

    form {
        width: 50%;
    }

}

@media screen and (max-width: 768px) {

    .container {
        width: 540px;
    }

    .card {
        width: 100%;
    }

    form {
        width: 100%;
    }
    
}

@media screen and (max-width: 576px) {

    .container {
        width: 100%;
        padding: 0 10px;
    }

    form {
        padding: 0 10px;
    }
    
}