/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OutFit';
}

/* HEADER */

h1 {
    color: #e53170;
    font-weight: 800;
    font-size: 60px;
}

header p {
    font-size: 20px;
}